*.history

# mac
.DS_STORE

# vim
*.swp

# vscode
.vscode

# .env
.env

# venvs
venv
venvs
.venv
.venvs

# worktrees
trees

# tmp
.tmp
tmp
data
*.csv*
*.ddb*
*.parquet

# python
.ipynb_checkpoints
.ruff_cache

# personal conventions
out.txt
out.csv
out.json
out2.json
out3.json
out4.json
temp/
temp.py
temp.sh
temp.txt
temp.ipynb
temp.md
temp.json

eda.ipynb
untitled.ipynb

# dbt
target/
dbt_packages/

# ascend
ascend-out

# logs
logs
*snowsql*log*

# zuliprc
*zuliprc*

